*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
    height: 100vh;
    background-image:url("../Img/background.png");
}

/* ESTILIZAÇÃO DO CABEÇALHO E AFINS*/
header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d3b615;
}
.navbar{
    display: flex;
    height: 60px;
    width: 600px;
    margin-bottom: 8px;
    border-radius: 20px;
    background-color: #faeaa7;
    align-items: center;
    justify-content: center;
    
}
.navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;

}

.navbar-link{
    width: 70px;
    height: 100px;
    z-index: 0;
}
.navbar-link a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}
.navbar-text{
    transition: 0.5s;
    opacity: 0;
}

.navbar-icon{
    width: 30px;
    height: 30px;
    transition: 0.4s;
    transform: translateY(30px);
    padding: 10px;
    border-radius: 50%;
}

#img{
    font-size: 30px;
}

/* estilização do conteúdo principal*/
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    height: 100%;
    box-shadow: 10px 10px 20px;
}
.conteudo{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 1px 1px 8px;
    gap: 10px;
    box-sizing: border-box;
}
.perfil{
    display: flex;
    padding: 20px;
    background-color: #faeaa7;
    border-radius: 15%;
    flex: 0 0 200px;
    height: 200px;
}
#description{
    display: flex;
    padding: 10px;
    background-color: #faeaa7;
    border-radius: 20px;
    flex: 1 1 100px;
}
.conteudo p{
    background-color: #faeaa7;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
    margin-left: 15px;
    border-radius: 20px;
}
.ferramentas{
    margin-top: 18px;
    padding: 15px;
    box-shadow: 1px 1px 8px;
}
.ferramentas h1{
    padding: 10px;
    border-radius: 20px;
    background-color: #faeaa7;
}
.tools{
    display: flex;
    flex-wrap:wrap ;
    width: 96.90%;
    margin-top: 8px;
    padding: 15px;
    background-color: #faeaa7;
    border-radius: 20px;
}

@media(min-width: 1024px){
    .conteudo{
        flex-direction: row;
    }
}
